nav ul li a,
.feature-details h3,
.featured-img h2 > a,
.title h2,
.add-to-cart a,
.portfolio-item > h3,
.portfolio-item > h3 a,
.feature-content-info h4,
.feature-content-info h2,
.feature-content-info > a i,
.ft-info h3,
.read-more i,
.subscribe-section h3,
.subscribe-section form button,
.subscribe-section.style3 h2,
.social-links li a:hover,
.currency-change select,
.choose-currency:before,
.item-sec a,
.item-sec a:before,
.portfolio-filter-head .options ul li a.selected,
.offer-info h2,
.offer-info h4,
.offer-info.style2 h2,
.offer-info.style2 h4,
.offer-info.style3 h4,
.widget-title,
.navigations ul li a,
.navigation-links ul li a,
.options ul li a.selected,
.product-det h3 a,
.product-det span,
.pro-name h3 > a,
.listed-products h3,
.pro-info h4 > a,
.tabs-list .options ul li a.selected,
.filter-price-info h3 > a,
.cart_info > a i,
.cart_info h3,
.cart_info h3 i,
.filter-pro-img ul li span,
.filter-pro-img ul li a i,
.feat-info h1,
.feat-info h3,
.feat-info2 a,
.our-new-items h4,
.our-new-items h2,
.our-new-items h3,
.currency-change .currency-chng .select2-container--default .select2-selection--single .select2-selection__rendered,
.currency-change .currency-chng .select2-selection__arrow:before,
.currency-change .currency-chng select option,
.ch-feat > h3 i,
.ch-feat > h3 a,
.ch-feat > h4,
.ch-banner-text h3,
.ch-feature-text h3,
.ch-feature-text.pos2 h2,
.ch-feature-text.pos3 h2,
.ch-feature-text > a,
.ch-feature-text > a i,
.user-details h3,
.user-details span,
.page-title h3,
.page-links ul li a,
.page-links ul li span,
.widget-sidebar .widget-title,
.widget-categories ul li a,
.fd-details h4 a,
.total-items-status span,
.item-description h3 > a,
.item_description h2,
.cart-ok ul li span,
.cart-ok ul li select,
.other-options > a,
.descp-list ul li.current h3,
.sub-title,
.reviewer-name h3,
.add-review h4,
.pager-sec2 h3,
.pager-sec2 ul li a,
.pager-sec2 ul li span,
.checkout-section > h3,
.checkout-section > h3 a,
.diff-address > span,
.coupan > a,
.cart-price-info span,
.cart-price-info li strong,
.payment-mthds li > span,
.crd-info h3,
.descp-list.style2 ul li.current h3,
.remember-me > span,
.forms-sec form button,
.blog-info > h3,
.blog-info > h3 a,
.blog-info > a i
.tweet p a,
.blog-info > blockquote,
.tgs-hd,
.prv-blog-info h3,
.prv-blog-info h3 a,
.sub-heading,
.user-pinfo > h3,
.contact-form form button,
.address-info h3,
.hd-title,
.links-list ul li a,
.spanp-text p,
.buttons-sec ul li a,
.product-sm-info h3,
.price_info h4,
.continue-update ul li a,
.smm-title,
.btnn,
.cart_totals span,
.cart_totals strong,
.total-cost b,
.lyr3,
.lyr5,
.lyr5:hover,
.lyr6,
.lyr7,
.lyr9,
.lyr10,
.lyr11,
.lyr13,
.lyr14,
.widget-about ul li a:hover,
.search-form-page > h2,
.card-sec > ul > li > a,
.tweet p a,
.lyr1,
.lyr2 {
	color: #2f294f;
}


.bg6,
.top-bar,
.cart-btn,
.ttl,
.highlights ul li:nth-child(2) span strong,
.buttons-sec ul li:nth-child(4) a,
.shopping-head-bar,
.cart_totals .smm-title,
.scrollToTop {
	background-color: #2f294f;
}


nav ul li a:hover,
.card-sec ul li a span,
.feature-content-info > a,
.read-more,
.read-more:hover,
.subscribe-section form button i,
.offer-info a,
.filter-item:hover .cart_info h3 i,
.filter-item:hover .cart_info h3,
.filter-item:hover .cart_info > a i,
.filter-item:hover .filter-price-info span,
.feat-info h3 i,
.feat-info span,
.feat-info2 span,
.feat-info2 span i,
.our-new-items a,
.our-new-items a i,
.widget-categories ul ul li a:hover,
.item-description span,
.item_description > strong,
.cart-price-info b,
.blog-info > a,
.tweet p a.rd,
.widget-tags ul li a:hover,
.share-links ul li a:hover,
.point-icon i,
.highlights ul li:nth-child(4) span strong,
.text-tooltips p strong,
.links-list ul li b,
.lyr7:hover,
.lyr7 i,
.portfolio-item span b {
	color: #e71d35;
}

.page-title h3:before,
.color10,
.cart-btn:hover,
.descp-list ul li:before,
.review-contact form button,
.checkout-section form button,
.descp-list.style2 ul li h3:before,
.page-item.active .page-link,
.page-link:focus, .page-link:hover,
.btn,
.highlights ul li span strong,
.spanp span,
.buttons-sec ul li:nth-child(5) a,
.buttons-sec ul li a:hover,
.continue-update ul li a:hover,
.btnn:hover,
.lyr4,
.cart-dropdown ul li:first-child a,
.crt-info > a,
.title h2:before,
.winter-fall-description h3:before,
.subscribe-section.style2 form button,
.listed-products h3:before,
.feat-hds:before,
.our-new-items h4:before,
.ch-feature-text.pos3 h2:before {
	background-color: #e71d35;
}